@page
@model LTEHApps.Models.Conflict
@{
    ViewBag.Title = "Form Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f0f5f9;
            color: #333;
            font-family: Arial, sans-serif;
        }



        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            margin-top: 30px;
            margin-bottom: 30px;
        }


        .from_button {
            background-color: #6699cc;
            border-color: #6699cc;
        }
    </style>
</head>
<body>

<div class="form-container">


    <form action="@Url.Action("ThankYou", "Conflict")" method="post">
            <div class="form-field">
            <label for="Project">Project:</label>
            <input type="text" class="form-control" id="ProjectName" name="ProjectName" required>
        </div>

        <div class="form-field">
            <label for="ID">ID:</label>
            <input type="text" id="ID" name="ID" class="form-control" required />
        </div>

        <div class="form-field">
            <label for="Discipline">Discipline:</label>
            <select class="custom-select" id="Discipline" name="Discipline" required>
                <option value="">Select a Discipline</option>
                <option value="D&E">D&E</option>
                <option value="Pipeline">Pipeline</option>
                <option value="Piping">Piping</option>
                <option value="Instrumentation">Instrumentation</option>
                <option value="Process">Process</option>
                <option value="Material and Corrosion">Material and Corrosion</option>
                <option value="Structural">Structural</option>
                <option value="Electrical">Electrical</option>
                <option value="Mechanical">Mechanical</option>
                <!-- Add more options as needed -->
            </select>
        </div>

        <div class="form-field">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" class="form-control" required />
        </div>

        <div class="form-field">
            <label for="Company Standard Ref Doc">Company Standard Ref Doc:</label>
            <textarea class="form-control" id="Company Standard Ref Doc" name="Company Standard Ref Doc" rows="4" required></textarea>
        </div>

        <div class="form-field">
            <label for="Standard Requirement">Standard Requirement:</label>
            <textarea class="form-control" id="Standard Requirement" name="Standard Requirement" rows="4" required></textarea>
        </div>

        <div class="form-field">
            <label for="Contractor Observation">Contractor Observation:</label>
            <textarea class="form-control" id="Contractor Observation" name="Contractor Observation" rows="4" required></textarea>
        </div>

  

        <div class="form-field">
            <label for="Company Response">Company Response:</label>
            <textarea class="form-control" id="Company Response" name="Company Response" rows="4" required></textarea>
        </div>

        <div class="form-field">
            <label for="fileUpload">Choose up to 5 files:</label>
            <input type="file" name="fileUpload" id="fileUpload" style="display: none;" accept=".jpg, .jpeg, .png, .pdf" />
            <input type="button" value="Attach Files" onclick="document.getElementById('fileUpload').click();" />

        </div>



        <div id="fileList">
            <!-- Display selected files here -->
        </div>

            <div class="form-field">
            <input type="submit" value="Submit" class="form-button" />
            <a href="@Url.Action("", "Conflict")" class="form-button cancel-button">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
